<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../libs/bootstrap-3.3.7/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="../libs/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../css/himam.css" rel="stylesheet">
    <script src="../libs/js/jquery-3.2.1.min.js"></script>
    <script src="../libs/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
    <script src="../js/himam.js"></script>

</head>
<body id="myPage">


  <div class="top-container">
    <div class="align-right">
      <a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
       <a href="https://www.facebook.com/RTPHIMAM/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
     </div>
  </div>
    <nav class="navbar navbar-default navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="logo"><img src="../images/logo.gif" width="100" height="100" border="0" alt="logo" /></a></div>


                <!--<li class="nav navbar-nav navbar-right"><a href="#Login">Login</a></li></ul>-->
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../himam.html" class="active"><span>Home</span></a></li>
                    <li><a href="../partials/main-gallery.html"><span>Gallery </span></a></li>
                    <!-- <li><a href="../partials/services.html"><span>About Us</span></a></li> -->
                    <li><a href="../partials/main-events.html"><span>Events </span></a></li>
                    <li><a href="../partials/contact.html"><span>Contact Us</span></a></li>
                    <li><a href="" class="active"><span>Login</span></a></li>
                </ul>
            </div>
        </div>
    </nav>
  <div class="photo-gallery container">
  <div class="row">
    <h2>CHINGAPULARI - 2017</h2>
      <div class="row">
          <div class="column">
              <img src="../images/pookalam.png" style="width:100%" onclick="openModal();currentSlide(1)" class="hover-shadow cursor">
          </div>
      </div>

      <div id="myModal" class="modal">
          <span class="close cursor" onclick="closeModal()">&times;</span>
          <div class="modal-content">

              <div class="mySlides">
                  <div class="numbertext">1 / 4</div>
                  <img src="../images/pookalam.png" style="width:100%">
              </div>
              <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
              <a class="next" onclick="plusSlides(1)">&#10095;</a>

              <div class="caption-container">
                  <p id="caption"></p>
              </div>

              <div class="column">
                  <img src="../images/pookalam.png" style="width:100%" onclick="openModal();currentSlide(1)" class="hover-shadow cursor">
              </div>
          </div>
      </div>
    </div>
</div>
<hr class="gallery-space">
      <footer>
            <div class="container">
              <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-12">
                   <h5>CONTACT US</h5>
                   <p><i class="fa fa-map-marker" aria-hidden="true"></i><a>Hindu Malayalee Mandalam of Carolinas,<br><span style="margin-left:25px;">P.O. Box 1122,</span><br><span style="margin-left:25px;">Morrisville, NC 27560</span></a></p>
                   <p><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:himamnc@gmail.com">Email: himamnc@gmail.com</a></p>
                   <!-- <p><i class="fa fa-phone" aria-hidden="true"></i><a>(242)-344-5656</a></p>  -->
                </div>
                <div class="col-md-3 col-lg-3 col-sm-12">
                  <h5>QUICK LINKS</h5>
                  <a><i class="fa fa-caret-right" aria-hidden="true"></i> Latest  News</a>
                  <a><i class="fa fa-caret-right" aria-hidden="true"></i> Calendar Events- Year 2017</a>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-12">
                  <h5>FOLLOW US</h5>
                  <a href="https://www.facebook.com/RTPHIMAM/"><i class="fa fa-caret-right" aria-hidden="true"></i> Facebook</a>
                  <a><i class="fa fa-caret-right" aria-hidden="true"></i> YouTube</a>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-12">
                  <p></p>
                </div>
                <div class="copyright col-md-12 col-lg-12 col-sm-12">
                  <p>© Copyright 2017. All Rights Reserved to himamnc.org</p>
                </div>
                </div>
            </div>
      </footer>



</body>
</html>
