<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../libs/bootstrap-3.3.7/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="../libs/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../css/himam.css" rel="stylesheet">
    <script src="../libs/js/jquery-3.2.1.min.js"></script>
    <script src="../libs/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="../css/jquery.e-calendar.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../js/jquery.e-calendar.js"></script>

    <script type="text/javascript" src="../js/jquery.e-calendar.js"></script>
</head>
<body id="myPage">

  <div class="top-container">
    <div class="align-right">
      <!-- <a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a> -->
       <a href="https://www.facebook.com/groups/1865093743813082/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
     </div>
  </div>
    <nav class="navbar navbar-default navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="logo"><img src="../images/logo.gif" width="100" height="100" border="0" alt="logo" /></a></div>


                <!--<li class="nav navbar-nav navbar-right"><a href="#Login">Login</a></li></ul>-->
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../index.html" class="active"><span>Home</span></a></li>
                    <li><a href="../partials/main-gallery.html"><span>Gallery </span></a></li>
                    <!-- <li><a href="../partials/services.html"><span>About Us</span></a></li> -->
                    <li class="active"><a href="../partials/main-events.html"><span>Events </span></a></li>
                    <li><a href="../partials/contact.php"><span>Contact Us</span></a></li>
                    <li><a href="" class="active"><span>Login</span></a></li>
                </ul>
            </div>
        </div>
    </nav>
      <div class="container">
            <div class="tour event-container bg-1">
                    <h3 class="text-center">Events</h3>
                    <!-- <p class="text-center">Please find the events</p> -->
                          <!-- <ul class="list-group">
                            <li class="list-group-item">
                                <h5>Ramayana Paarayanam</h5>
                                <img src="../images/Ramayanam.jpg" alt="picture" width="230" height="150" />
                                <p>
                                    Himam is celeberating Ramayanaparayanam from July 17 and ends on August 16
                                </p>
                            </li>
                            <li class="list-group-item">

                                <img src="../images/onam_pic.jpg" alt="picture" width="230" height="150" />
                                <h5>Chingapulari</h5>
                                <p>
                                    Himam celebrating Onam on August 26th Green Hope High school
                                </p>

                            </li>
                            <li class="list-group-item">
                                <img src="../images/Navarathri.jpg" alt="picture" width="230" height="150" /><br />navarathri<br>
                                <h5>Navarathri Pooja</h5>
                                <p>
                                    Himam celebrating Navarathri on Sepetember
                                </p>
                            </li>

                            <li class="list-group-item">
                                <img src="../images/vishu_new.jpg" alt="picture" width="230" height="150" />
                                <h5>Vishu</h5>
                                <p>
                                    Himam is Celeberating Vishu On April 15th
                                </p>
                            </li>
                        </ul> -->
                        <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                              VISHU
                            </div>
                            <div class="panel-body">
                              <img src="../images/vishu_new.jpg" class="img-responsive" alt="ramayanam" />
                              <p>
                                  SATURDAY, APRIL 15 AT 6:00 PM
                              </p>
                              <p>
                                VENUE : HSNC Temple Main Hall,
                                        309 Aviation Parkway,
                                        Morrisville, NC 27560
                              </p>
                              <a href="../partials/vishu-2017.html" class="btn" role="button">Pictures</a>
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              RAMAYANA PARAYANAM
                            </div>
                            <div class="panel-body">
                              <img src="../images/ramayanam.png" class="img-responsive" alt="ramayanam" />
                              <p>
                                  MONDAY, JULY 17 TO WEDNESDAY, AUGUST 16
                              </p>
                              <p>
                                VENUE : At different homes
                              </p>
                              <a href="../partials/ramayanaprayanam-gallery.html" class="btn" role="button">Pictures</a>
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              CHINGAPULARI
                            </div>
                            <div class="panel-body">
                              <img src="../images/onathappan.jpg" class="img-responsive" alt="chingapulari" />
                              <p>
                                SATURDAY, AUGUST 26 FROM 5:00 PM TO 9:30 PM
                              </p>
                              <p>
                                VENUE : Green Hope High School Cafeteria,
                                2500 Carpenter Upchurch Road,
                                Cary, NC 27519
                              </p>
                                <a href="../partials/chingapulari-gallery.html" class="btn" role="button">Pictures</a>
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              VIDYARAMBHAM
                            </div>
                            <div class="panel-body">
                              <img src="../images/vidyarambham.png" class="img-responsive" alt="vidyarambham" />
                              <p>
                                SATURDAY, SEPTEMBER 30 2017
                              </p>
                              <p>
                                VENUE : HSNC LEARNING CENTER,
                                 309 Aviation Parkway,
                                 Morrisville, NC 27560
                              </p>
                              <a class="btn" role="button">Pictures</a>
                            </div>
                          </div>
                        </div>
            </div>
        </div>
<hr class="bottom-space">
    <footer>
          <div class="container">
            <div class="row">
              <div class="col-md-3 col-lg-3 col-sm-12">
                 <h5>CONTACT US</h5>
                 <p><i class="fa fa-map-marker" aria-hidden="true"></i><a>Hindu Malayalee Mandalam of Carolinas,<br><span style="margin-left:25px;">P.O Box 99999,</span><br><span style="margin-left:25px;">Morrisville, NC -27703</span></a></p>
                 <p><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:himamnc@gmail.com">Email: himamnc@gmail.com</a></p>
                 <!-- <p><i class="fa fa-phone" aria-hidden="true"></i><a>(242)-344-5656</a></p> -->
              </div>
              <div class="col-md-3 col-lg-3 col-sm-12">
                <h5>QUICK LINKS</h5>
                <a><i class="fa fa-caret-right" aria-hidden="true"></i> Latest  News</a>
                <a href="../partials/main-events.html"><i class="fa fa-caret-right" aria-hidden="true"></i> Calendar of Events- Year 2017</a>
              </div>
              <div class="col-md-3 col-lg-3 col-sm-12">
                <h5>FOLLOW US</h5>
                <a href="https://www.facebook.com/groups/1865093743813082/" target="_blank"><i class="fa fa-caret-right" aria-hidden="true"></i> Facebook</a>
                <!-- <a><i class="fa fa-caret-right" aria-hidden="true"></i> YouTube</a> -->
              </div>
              <div class="col-md-3 col-lg-3 col-sm-12">
                <p></p>
              </div>
              <div class="copyright col-md-12 col-lg-12 col-sm-12">
                <p>© Copyright 2017. All Rights Reserved to himamnc.org</p>
              </div>
              </div>
          </div>
    </footer>
</body>
</html>
