<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../libs/bootstrap-3.3.7/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="../libs/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../css/himam.css" rel="stylesheet">
    <script src="../libs/js/jquery-3.2.1.min.js"></script>
    <script src="../libs/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
</head>
<body id="myPage">
  <div class="top-container">
    <div class="align-right">
      <a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
       <a href="https://www.facebook.com/RTPHIMAM/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
     </div>
  </div>
    <nav class="navbar navbar-default navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="logo"><img src="../images/logo.gif" width="100" height="100" border="0" alt="logo" /></a></div>


                <!--<li class="nav navbar-nav navbar-right"><a href="#Login">Login</a></li></ul>-->
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../himam.html" class="active"><span>Home</span></a></li>
                    <li><a href="../partials/gallery.html"><span>Gallery </span></a></li>
                    <!-- <li><a href="../partials/services.html"><span>About Us</span></a></li> -->
                    <li><a href="../partials/events.html"><span>Events </span></a></li>
                    <li><a href="../partials/contact.html"><span>Contact Us</span></a></li>
                    <li><a href="" class="active"><span>Login</span></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
    <section>
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat ante nisi, ut ultrices lorem semper dapibus. Aenean congue diam id maximus malesuada. Nulla in aliquam enim. Curabitur maximus sed tortor vel hendrerit. Duis sollicitudin id justo at malesuada. Phasellus ac felis purus. In nec justo dictum, tincidunt justo vel, bibendum lectus. Donec laoreet pellentesque posuere. Phasellus at scelerisque tortor. Morbi vel ullamcorper arcu, at congue ante. Suspendisse non rhoncus erat. Nullam at ipsum vitae purus tempus accumsan at ut justo. In sollicitudin vulputate elementum. Phasellus iaculis nulla eget arcu feugiat, ut pulvinar turpis auctor. Sed in erat malesuada, volutpat urna vel, lacinia eros.</p>
    <p>Proin at leo aliquam felis interdum consectetur et et ligula. Quisque at pretium felis. In porttitor id orci et sodales. Phasellus leo odio, placerat nec molestie non, molestie eu justo. Etiam a tellus congue, sollicitudin odio congue, accumsan tortor. Suspendisse potenti. Praesent ipsum diam, hendrerit in placerat quis, cursus ac justo.</p>
    <p>Fusce facilisis nibh vel eleifend mattis. Proin sed egestas ex, vitae sagittis ligula. Phasellus facilisis dapibus eleifend. Etiam fermentum ligula eros, ac varius erat semper ut. Mauris maximus, mi id molestie consequat, ex odio malesuada mi, quis tempor elit dui id justo. Mauris elit purus, tristique at accumsan sit amet, ultricies eget massa. Morbi iaculis nibh eu diam dapibus interdum. Proin fermentum nibh magna, non laoreet orci consequat ut. Donec dignissim ut metus sit amet blandit.</p>
  </section>
    </div>
    <hr class="bottom-space">
    <footer>
          <div class="container">
            <div class="row">
              <div class="col-md-3 col-lg-3 col-sm-12">
                 <h5>CONTACT US</h5>
                 <p><i class="fa fa-map-marker" aria-hidden="true"></i><a>Hindu Malayalee Mandalam of Carolinas,<br><span style="margin-left:25px;">P.O. Box 1122,</span><br><span style="margin-left:25px;">Morrisville, NC 27560</span></a></p>
                 <p><i class="fa fa-envelope" aria-hidden="true"></i><a>Email: himamnc@gmail.com</a></p>
                 <!-- <p><i class="fa fa-phone" aria-hidden="true"></i><a>(242)-344-5656</a></p> -->
              </div>
              <div class="col-md-3 col-lg-3 col-sm-12">
                <h5>QUICK LINKS</h5>
                <a><i class="fa fa-caret-right" aria-hidden="true"></i> Latest  News</a>
                <a><i class="fa fa-caret-right" aria-hidden="true"></i> Calendar Events- Year 2017</a>
              </div>
              <div class="col-md-3 col-lg-3 col-sm-12">
                <h5>FOLLOW US</h5>
                <a href="https://www.facebook.com/RTPHIMAM/"><i class="fa fa-caret-right" aria-hidden="true"></i> Facebook</a>
                <a><i class="fa fa-caret-right" aria-hidden="true"></i> YouTube</a>
              </div>
              <div class="col-md-3 col-lg-3 col-sm-12">
                <p></p>
              </div>
              <div class="copyright col-md-12 col-lg-12 col-sm-12">
                <p>© Copyright 2017. All Rights Reserved to himamnc.org</p>
              </div>
              </div>
          </div>
    </footer>
</body>
</html>
